@use 'openmina';

:host ::ng-deep .mina-table .row.active > span > span {
  color: openmina.$selected-primary !important;
}

.mina-icon {
  font-variation-settings:
    'FILL' 1,
    'wght' 400 !important;
}

.benchmark,
.account {
  width: 24px;
  height: 24px;
}

.benchmark {
  background-color: openmina.$selected-container;
  color: openmina.$selected-primary;
}

.account {
  background-color: openmina.$special-selected-alt-2-container;
  color: openmina.$special-selected-alt-2-primary;
}

.status {
  padding: 3px 5px;
  border-radius: 4px;

  &.ZKApp {
    background-color: openmina.$special-selected-alt-1-container;
    color: openmina.$special-selected-alt-1-primary;
  }

  &.Payment {
    background-color: openmina.$special-selected-alt-3-container;
    color: openmina.$special-selected-alt-3-primary;
  }
}
