@use 'openmina';

.circle {
  width: 10px;
  height: 10px;
  border-radius: 12px;

  &.red {
    background-color: openmina.$warn-primary;
  }

  &.gray {
    background-color: openmina.$base-tertiary;
  }

  &.white {
    background-color: openmina.$base-primary;
  }

  &.blue {
    background-color: openmina.$selected-primary;
  }

  &.green {
    background-color: openmina.$success-primary;
  }
}
