services:
  local-producer-cluster:
    container_name: local-producer-cluster
    image: o1labs/mina-rust:${MINA_RUST_TAG:-latest}
    environment:
      - RUST_BACKTRACE=1
    entrypoint: ["openmina-node-testing", "scenarios-generate", "--name", "simulation-small-forever-real-time"]
    ports:
      - 11010:11010
      - 11012:11012
      - 11014:11014

  frontend:
    container_name: frontend
    image: o1labs/mina-rust-frontend:${MINA_FRONTEND_TAG:-latest}
    environment:
      MINA_FRONTEND_ENVIRONMENT: block-producers
    ports:
      - "8070:8070"
