services:
  mina-node:
    image: openmina/openmina:${MINA_TAG:-latest}
    entrypoint: >
      sh -c "mina node --producer-key /root/.mina/producer-key $${COINBASE_RECEIVER:+--coinbase-receiver $$COINBASE_RECEIVER} $${MINA_LIBP2P_EXTERNAL_IP:+--libp2p-external-ip $$MINA_LIBP2P_EXTERNAL_IP} $${MINA_LIBP2P_PORT:+--libp2p-port $$MINA_LIBP2P_PORT}"
    ports:
      - "3000:3000"
      - "${MINA_LIBP2P_PORT:-8302}:${MINA_LIBP2P_PORT:-8302}"
    volumes:
      - ./mina-workdir:/root/.mina:rw
    environment:
      MINA_PRIVKEY_PASS: "${MINA_PRIVKEY_PASS:-}"
      COINBASE_RECEIVER: "${COINBASE_RECEIVER:-}"
      MINA_LIBP2P_EXTERNAL_IP: "${MINA_LIBP2P_EXTERNAL_IP}"
      MINA_LIBP2P_PORT: "${MINA_LIBP2P_PORT}"

  frontend:
    image: openmina/frontend:${MINA_FRONTEND_TAG:-latest}
    environment:
      MINA_FRONTEND_ENVIRONMENT: compose-producer
    ports:
      - "8070:80"
