services:
  mina-node:
    image: o1labs/mina-rust:${MINA_RUST_TAG:-latest}
    entrypoint: ["/bin/sh", "-c"]
    command: >
      "
      ARGS='node --network devnet';
      if [ -n \"$$MINA_LIBP2P_EXTERNAL_IP\" ]; then ARGS=\"$$ARGS --libp2p-external-ip $$MINA_LIBP2P_EXTERNAL_IP\"; fi;
      if [ -n \"$$MINA_LIBP2P_PORT\" ]; then ARGS=\"$$ARGS --libp2p-port $$MINA_LIBP2P_PORT\"; fi;
      exec mina $$ARGS
      "
    volumes:
      - ./mina-workdir:/root/.mina:rw
    ports:
      - "${MINA_LIBP2P_PORT:-8302}:${MINA_LIBP2P_PORT:-8302}"
    environment:
      MINA_LIBP2P_EXTERNAL_IP: "${MINA_LIBP2P_EXTERNAL_IP:-}"
      MINA_LIBP2P_PORT: "${MINA_LIBP2P_PORT:-8302}"

  frontend:
    image: o1labs/mina-rust-frontend:${MINA_FRONTEND_TAG:-latest}
    environment:
      MINA_FRONTEND_ENVIRONMENT: compose
    ports:
      - "8070:80"
