@use 'openmina';

.job {
  min-width: 110px;

  &.error-job {
    background-color: openmina.$warn-container;
    color: openmina.$warn-secondary;

    &:hover {
      color: openmina.$warn-primary;
    }
  }

  &:last-child {
    margin-right: 0 !important;
  }
}
