@use 'openmina';

div {
  white-space: nowrap;
}

span.mr-5 {
  padding: 1px 3px;
  background-color: inherit;
  border-radius: 2px;
}


form {
  width: 200px;
  background-color: openmina.$base-container;
  color: openmina.$base-tertiary;

  &:hover {
    background-color: openmina.$base-divider;
  }

  input {
    outline: none;
    color: inherit;
    background-color: unset;
    padding-left: 35px;
    padding-right: 25px;

    &::placeholder {
      font-weight: 400;
    }
  }

  .p-absolute:first-child {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }

  .p-absolute:last-child {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;

    &:hover {
      color: openmina.$base-primary;
    }
  }

  &.active {
    background-color: openmina.$selected-container;
    color: openmina.$selected-primary;

    .p-absolute:last-child {
      display: block;
    }
  }
}
