@use 'openmina';

.filter {

  &:hover:not(.active) {
    background-color: openmina.$base-divider;
    color: openmina.$base-secondary !important;
  }

  &.active {
    background-color: openmina.$selected-container;
    color: openmina.$selected-primary !important;
  }
}
