@use 'mina-rust';

div.h-sm span {
  width: 55px;
}

form {
  background-color: mina-rust.$base-container;
  color: mina-rust.$base-tertiary;

  &:hover {
    background-color: mina-rust.$base-divider;
  }

  input {
    outline: none;
    color: inherit;
    background-color: unset;
    padding-left: 35px;
    padding-right: 25px;

    &::placeholder {
      font-weight: 400;
    }
  }

  .p-absolute:first-child {
    left: 5px;
    top: 2px;
  }

  .p-absolute:last-child {
    right: 5px;
    top: 0;
    display: none;
  }

  &.active {
    background-color: mina-rust.$selected-container;
    color: mina-rust.$selected-primary;

    .p-absolute:last-child {
      display: block;
    }
  }
}
