@use 'openmina';

$blue: #57d7ff;
$pink: #fda2ff;
$orange: #ff833d;

:host {
  //linear-gradient(64deg, rgba(87, 215, 255, 0.15) 10%, rgba(253, 162, 255, 0.15) 60%, rgba(255, 131, 61, 0.15) 82%)
  background: linear-gradient(
    70deg,
    rgba($blue, 0.15) 5%,
    rgba($pink, 0.15) 45%,
    rgba($orange, 0.15) 90%
  );
}

.top {
  border-bottom: 2px solid transparent;
}

.progress-bar {
  overflow: hidden;
  height: 6px;
  left: 0;
  bottom: -3px;
  transition: width 0.4s ease-in-out;
  min-width: 20px;

  .highlight {
    height: 4px;
    top: 1px;
    left: -50px;
    width: 50px;
    background: radial-gradient(
      openmina.$success-primary,
      openmina.$success-primary,
      openmina.$success-primary,
      transparent,
      transparent
    );
    border-radius: 20px;
    animation: move 9s linear infinite;
  }

  .progress {
    height: 2px;
    background-color: openmina.$success-primary;
    top: 2px;
    left: 0;
  }
}

@keyframes move {
  0% {
    left: -50px;
  }
  10% {
    left: -50px;
  }
  80% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.mina-icon {
  font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20 !important;
  transition: none;
  color: openmina.$base-divider;

  &.success-primary {
    transition: 0.3s;
  }
}

.step {
  .mina-icon {
    color: openmina.$success-primary;
    transition: 0.3s;
  }

  &.incomplete {
    color: openmina.$base-tertiary;

    .mina-icon {
      color: openmina.$base-divider;
      transition: none;
    }
  }
}

.bg-container {
  &:hover {
    .step > .mina-icon {
      color: openmina.$base-primary !important;
    }
  }

  .discarded {
    transition: 0.2s ease-in-out;

    &:not(.open) {
      max-height: 0 !important;
    }

    &.open {
      max-height: 44px;
    }
  }
}
