@use 'openmina';

.th-group {
  display: grid;
  grid-template-columns: 480px 390px 1fr;

  > span {
    border-bottom: 1px solid openmina.$base-tertiary;

    &:last-child {
      min-width: 510px;
    }
  }
}

.secondary {
  text-wrap: nowrap;
}

.status {
  padding: 2px 5px;
  border-radius: 4px;

  &.Synced {
    background-color: openmina.$success-container;
    color: openmina.$success-primary;
  }

  &.Bootstrap,
  &.Catchup {
    background-color: openmina.$aware-container;
    color: openmina.$aware-primary;
  }

  &.Offline {
    background-color: openmina.$warn-container;
    color: openmina.$warn-primary;
  }

  &.Pending {
    background-color: openmina.$base-container;
    color: openmina.$base-secondary;
  }
}
