@use 'mina-rust';

span.border-rad-4 {
  width: 80px;
  height: 16px;
  background-color: mina-rust.$warn-tertiary;
  position: relative;
  overflow: hidden;

  span {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: mina-rust.$base-surface;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: mina-rust.$success-secondary;
    }
  }
}

:host span b {
  color: mina-rust.$selected-primary;
  background: mina-rust.$selected-container;
}
