@use 'mina-rust';

.status {
  padding: 2px 5px;
  border-radius: 4px;

  &.sending {
    background-color: mina-rust.$base-container;
    color: mina-rust.$base-primary;
  }

  &.included {
    background-color: mina-rust.$success-container;
    color: mina-rust.$success-primary;
  }

  &.generated {
    background-color: mina-rust.$special-selected-alt-2-container;
    color: mina-rust.$special-selected-alt-2-primary;
  }

  &.error,
  &.rejected {
    background-color: mina-rust.$warn-container;
    color: mina-rust.$warn-primary;
  }
}
