@use 'openmina';

.status {
  padding: 2px 5px;
  border-radius: 4px;

  &.sending {
    background-color: openmina.$base-container;
    color: openmina.$base-primary;
  }

  &.included {
    background-color: openmina.$success-container;
    color: openmina.$success-primary;
  }

  &.generated {
    background-color: openmina.$special-selected-alt-2-container;
    color: openmina.$special-selected-alt-2-primary;
  }

  &.error,
  &.rejected {
    background-color: openmina.$warn-container;
    color: openmina.$warn-primary;
  }
}
