@use 'mina-rust';

:host {
  max-height: 50vh;
}

.node-picker {
  .add-node {
    right: 12px;
    top: 10px;
    width: 22px;
    height: 22px;

    &:hover {
      background-color: mina-rust.$base-container;
    }
  }

  .node {
    .mina-icon {
      width: 20px;
    }

    .names {
      width: calc(100% - 20px);

      > span {
        height: 50%;

        &:first-child {
          padding-bottom: 3px;
        }
      }
    }

    &.custom .names {
      width: calc(100% - 20px - 20px);
    }
  }
}

.node:focus {
  outline: 2px solid mina-rust.$selected-primary;
}

.mina-icon {
  font-variation-settings:
    'FILL' 0,
    'wght' 400 !important;
}
