@use 'openmina';

.tab-group {
  @include openmina.flexRowVertCenter();

  .tab {
    min-width: 90px;
    max-width: 140px;
    width: 33%;
    text-align: center;
    border-radius: 6px;
    color: openmina.$base-secondary;
    transition: 0.2s;
    background-color: transparent;

    &.selected {
      background-color: openmina.$selected-container;
      color: openmina.$selected-primary;
    }

    &:hover:not(.selected) {
      background-color: openmina.$base-container;
    }
  }
}

.hex {
  color: openmina.$code-magenta;
  line-height: 24px;
}
