@use 'leaderboard-variables';

:host {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: leaderboard-variables.$mina-base-primary;

  > div {
    min-height: 40px;

    @media (max-width: 1023px) {
      padding: 16px 24px;
      line-height: 32px;
    }
  }
}

.right-side {
  gap: 32px;
  @media (max-width: 767px) {
    gap: 0;
  }

  a {
    color: leaderboard-variables.$mina-base-primary;
    cursor: pointer;
    transition: 0.15s ease;

    &:hover {
      color: leaderboard-variables.$mina-access-primary;
    }
  }
}
