@use 'mina-rust';

:host {
  width: 312px;
  max-height: 30vh;
  background-color: mina-rust.$base-surface-top;
  margin-right: 10px;
  margin-left: 10px;

  @media (max-width: 768px) {
    width: calc(100% - 20px);
    max-height: 80vh;
  }
}

.err {
  min-height: 105px;

  &:not(:last-child) {
    border-bottom: 1px solid mina-rust.$base-divider;
  }

  .message {
    word-wrap: break-word;
  }
}
