@use 'openmina';

.circle {
  width: 10px;
  height: 10px !important;
  border-radius: 12px;
  background-color: openmina.$base-tertiary;

  &.Connected:not(.Not) {
    background-color: openmina.$success-primary;
  }

  &.Cannot.Connect {
    background-color: openmina.$warn-primary;
  }
}

.origin {
  color: openmina.$special-selected-alt-1-primary !important;

  .circle {
    background-color: openmina.$base-surface !important;
    border: 2px solid openmina.$special-selected-alt-1-primary;
  }
}

:host ::ng-deep mina-table .row.active {
  .circle {
    background-color: openmina.$selected-primary !important;
  }

  .origin .circle {
    border: 2px solid openmina.$selected-primary;
    background-color: initial !important;
  }
}
