@use 'openmina';

.mina-icon {
  font-variation-settings: 'FILL' 1, 'wght' 300 !important;
}

.bg-base {
  transition: 0.3s;
}

.background-gradient {
  background: linear-gradient(125deg, openmina.$base-background 0%, openmina.$base-background 50%, openmina.$success-container 60%, openmina.$base-surface 85%, openmina.$base-surface 100%);
  background-size: 500%;
  background-position: 0 50%;
  transition: background-position 0.7s ease;

  &.complete {
    background-position: 100% 50%;
  }
}

.group {
  .steps {
    position: relative;
    padding-left: 40px;
    color: openmina.$base-tertiary;

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 10px;
      width: 1px;
      height: calc(100% + 10px);
      background-color: openmina.$base-divider;
    }

    .step {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: calc(50% + 0px);
        left: -29px;
        width: 20px;
        height: 1px;
        background-color: openmina.$base-divider;
      }
    }
  }

  &:last-child .steps::before {
    height: calc(100% - 13px);
  }

  &.pending {
    .group-title {
      color: openmina.$base-tertiary;
    }

    .steps .step {
      color: openmina.$base-tertiary;
    }
  }

  &.success {
    .group-title {
      color: openmina.$success-primary;
    }

    .steps::before,
    .steps .step::before {
      background-color: openmina.$base-tertiary;
    }
  }

  &.loading {
    .step {
      color: openmina.$base-secondary;
    }
  }

  .pending-icon {
    width: 20px;
    height: 20px;

    span {
      background-color: openmina.$base-tertiary;
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }

    &.success span {
      background-color: openmina.$success-primary;
    }
  }
}

.tooltip-row {
  display: grid;
  grid-template-columns: 40px 1fr;
}
