@use 'openmina';

.side-panel-stepper {
  .step {
    &.active {
      left: 0;
      opacity: 1;
      transition:
        left 300ms cubic-bezier(0.25, 1, 0.5, 1),
        opacity 200ms linear;
    }

    &.after,
    &.before {
      opacity: 0;
      transition:
        left 300ms cubic-bezier(0.5, 0, 0.75, 0),
        opacity 200ms linear;
    }

    &.before {
      left: -100%;
    }

    &.after {
      left: 100%;
    }
  }
}

.tab-group {
  @include openmina.flexRowVertCenter();

  .tab {
    min-width: 90px;
    max-width: 200px;
    width: 50%;
    text-align: center;
    border-radius: 6px;
    color: openmina.$base-secondary;
    transition: 0.2s;
    background-color: transparent;

    &.selected {
      background-color: openmina.$selected-container;
      color: openmina.$selected-primary;
    }

    &:hover:not(.selected) {
      background-color: openmina.$base-container;
    }
  }
}

.bar {
  div {
    height: 4px;
  }

  div:nth-child(1) {
    background-color: openmina.$success-primary;
  }

  div:nth-child(2) {
    background-color: openmina.$special-selected-alt-1-primary;
  }

  div:nth-child(3) {
    background-color: openmina.$warn-primary;
  }

  div:nth-child(4) {
    background-color: openmina.$base-tertiary;
  }
}

.mina-icon {
  font-variation-settings: 'FILL' 1 !important;
}
