@use 'openmina';

:host {
  .mina-icon {
    font-variation-settings:
      'FILL' 1,
      'wght' 300 !important;
  }

  .background-gradient {
    background: linear-gradient(
      145deg,
      openmina.$base-background 0%,
      openmina.$base-background 50%,
      openmina.$success-container 60%,
      openmina.$base-surface 85%,
      openmina.$base-surface 100%
    );
    background-size: 500%;
    background-position: 0 50%;
    transition: background-position 0.7s ease;

    &.complete {
      background-position: 100% 50%;
    }
  }

  @media (max-width: 767px) {
    .mobile mina-card {
      width: 33.333%;

      &:not(:first-child) {
        padding-left: 10px !important;
      }
    }
  }
}
