@use 'openmina';

.base-div {
  padding-right: 0;
  transition: 300ms;
}

.list {
  height: 40px;
}

.point {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: openmina.$base-secondary;
  bottom: 0;
  cursor: pointer;

  &.Connected:not(.Not) {
    background-color: openmina.$success-primary;
    z-index: 1;
  }

  &.Cannot.Connect {
    background-color: openmina.$warn-primary;
    z-index: 2;
  }

  &.origin {
    background-color: openmina.$base-surface !important;
    border: 2px solid openmina.$special-selected-alt-1-primary;

    &:hover {
      background-color: openmina.$special-selected-alt-1-primary;
    }
  }

  &:hover.Not.Connected,
  &:hover.Can.Connect {
    background-color: openmina.$base-primary;
  }

  &.active {
    background-color: openmina.$selected-primary !important;
    z-index: 3;
  }
}

.bucket {
  border-radius: 0;
  border-right: 1.5px dashed openmina.$base-tertiary2;

  .line-bg {
    bottom: 0;
    background-color: openmina.$base-container;
    height: 16px;

    .mid-line {
      background-color: openmina.$base-tertiary2;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:first-child {
    border-left: 1.5px dashed openmina.$base-tertiary2;

    .line-bg {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
}
