@use 'leaderboard-variables';

.menu {
  height: 58px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: leaderboard-variables.$mina-base-primary;

  @media (max-width: 1023px) {
    padding: 0 12px;
  }

  .dropdown-menu {
    gap: 40px;

    @media (max-width: 767px) {
      width: 100%;
      flex-direction: column;
      position: absolute;
      top: 108px;
      right: 0;
      background: leaderboard-variables.$mina-cta-primary;
      border: 1px solid leaderboard-variables.$mina-base-divider;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 1000;
      line-height: 60px;
      gap: 0;

      a {
        width: 100%;
        text-align: center;
      }

      &.open {
        display: flex;
      }
    }
  }

  a {
    color: leaderboard-variables.$mina-base-primary;

    &.active {
      color: leaderboard-variables.$mina-access-primary;
      opacity: 0.95;
    }

    &:hover {
      opacity: 1;
    }
  }

  .hamburger-trigger {
    display: none; /* Hide trigger by default */
    cursor: pointer;

    @media (max-width: 767px) {
      display: block; /* Show trigger on mobile */
    }
  }
}
