@use 'mina-rust';

.acc-row {
  height: 36px;
  line-height: 36px;
  color: mina-rust.$base-tertiary;

  &:not(.head) {
    cursor: pointer;

    &:hover {
      background-color: mina-rust.$base-container;
    }
  }
}

:host > div {
  margin-right: 2px;

  &.open {
    margin-bottom: 5px;
    background-color: mina-rust.$base-container !important;
    border-radius: 6px;

    .acc-row {
      color: mina-rust.$base-primary !important;

      .mina-icon {
        rotate: 90deg;
      }
    }
  }
}
