@use 'openmina';

span {
  &.Fetching {
    color: openmina.$base-tertiary;
  }

  &.Fetched {
    color: openmina.$base-secondary;
  }

  &.Applying {
    color: openmina.$selected-primary;
  }

  &.Applied {
    color: openmina.$success-primary;
  }

  .height {
    color: openmina.$base-primary;
    background-color: openmina.$base-container;
  }

  .best-tip span {
    color: openmina.$special-selected-alt-1-primary;
    background-color: openmina.$special-selected-alt-1-container;
  }

  .height,
  .best-tip span {
    margin-right: 5px;
    border-radius: 4px;
    padding: 3px;
  }
}
