@use 'mina-rust';

span {
  &.Fetching {
    color: mina-rust.$base-tertiary;
  }

  &.Fetched {
    color: mina-rust.$base-secondary;
  }

  &.Applying {
    color: mina-rust.$selected-primary;
  }

  &.Applied {
    color: mina-rust.$success-primary;
  }

  .height {
    color: mina-rust.$base-primary;
    background-color: mina-rust.$base-container;
  }

  .best-tip span {
    color: mina-rust.$special-selected-alt-1-primary;
    background-color: mina-rust.$special-selected-alt-1-container;
  }

  .height,
  .best-tip span {
    margin-right: 5px;
    border-radius: 4px;
    padding: 3px;
  }
}
