@use 'mina-rust';

:host {
  height: 56px;

  .menus {
    gap: 12px;

    .menu {
      color: mina-rust.$base-tertiary;
      min-width: 72px;
      flex: 1 0 auto;

      &.active {
        color: mina-rust.$selected-primary;

        .mina-icon {
          color: mina-rust.$selected-primary;
          font-variation-settings:
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 20;
        }
      }
    }
  }
}

.theme {
  font-variation-settings:
    'FILL' 1,
    'wght' 200 !important;
}
