@use 'mina-rust';

:host ::ng-deep mina-table {
  .row {
    background-color: unset !important;
    pointer-events: none;

    .truncate {
      pointer-events: all !important;

      &:hover:not(.has) {
        color: mina-rust.$base-tertiary !important;
      }
    }
  }
}

span.has {
  cursor: pointer !important;
}

span:not(.has):not(.mina-icon) {
  cursor: default !important;
}

.children {
  .length {
    min-width: 10px;
  }

  &.has {
    color: mina-rust.$base-primary;

    span {
      color: mina-rust.$base-secondary;
    }
  }

  &:not(.has) {
    opacity: 0;
  }
}

span {
  .perc {
    width: 35px;

    &.yellow {
      color: mina-rust.$aware-primary;
    }

    &.red {
      color: mina-rust.$warn-primary;
    }
  }

  .progress-background {
    height: 2px;
    border-radius: 3px;
    background-color: mina-rust.$base-container;
    width: 110px;

    .progress-background {
      min-width: 4px;
      background-color: mina-rust.$base-tertiary;

      &.yellow {
        background-color: mina-rust.$aware-primary;
      }

      &.red {
        background-color: mina-rust.$warn-primary;
      }
    }
  }
}
