@use 'mina-rust';

.chip {
  gap: 4px;
  background-color: mina-rust.$base-surface;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: mina-rust.$success-container;
  }

  div {
    color: mina-rust.$success-primary;
  }

  span {
    color: mina-rust.$success-secondary;

    &.mina-icon {
      color: mina-rust.$success-primary;
    }
  }

  &.aware {
    &::before {
      background-color: mina-rust.$aware-container;
    }

    div {
      color: mina-rust.$aware-primary;
    }

    span {
      color: mina-rust.$aware-secondary;

      &.mina-icon {
        display: none;
        color: mina-rust.$aware-primary;
      }
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 5px;
    font-size: 12px;

    .mina-icon {
      display: none;
    }

    &.h-sm {
      height: 32px !important;
    }
  }
}
