@use 'mina-rust';

.tab-group {
  @include mina-rust.flexRowVertCenter();

  .tab {
    min-width: 90px;
    max-width: 140px;
    width: 33%;
    text-align: center;
    border-radius: 6px;
    color: mina-rust.$base-secondary;
    transition: 0.2s;
    background-color: transparent;

    &.selected {
      background-color: mina-rust.$selected-container;
      color: mina-rust.$selected-primary;
    }

    &:hover:not(.selected) {
      background-color: mina-rust.$base-container;
    }
  }
}
