@use 'openmina';

.breadcrumb {
  color: openmina.$selected-primary;

  &:hover:not(:last-child) {
    cursor: pointer;
    text-decoration: underline;
  }

  &:last-child {
    color: openmina.$base-secondary;
  }
}
