@use 'leaderboard-variables';

:host {
  background-color: leaderboard-variables.$mina-cta-primary;
}

.floating-banner {
  position: fixed;
  bottom: -100%;
  left: 20px;
  right: 20px;
  transition: bottom 0.5s ease;
  z-index: 1000;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.show {
    bottom: 20px;
  }
}

.overflow-y-scroll {
  background-color: leaderboard-variables.$mina-cta-primary;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: leaderboard-variables.$white4;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: leaderboard-variables.$mina-base-secondary;
  }
}

main,
mina-leaderboard-header,
mina-leaderboard-footer {
  max-width: 1200px;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;

  @media (max-width: 1023px) {
    padding: 0;
  }
}

main {
  border-bottom: 1px solid leaderboard-variables.$mina-base-divider;

  @media (max-width: 1023px) {
    padding: 0 10px;
  }
}

.overflow-auto {
  background-color: leaderboard-variables.$mina-cta-primary;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: leaderboard-variables.$white4;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: leaderboard-variables.$mina-base-secondary;
  }
}

.accordion {
  color: leaderboard-variables.$mina-base-primary;
  font-size: 16px;
  font-weight: 600;
  background: rgba(248, 214, 17, 0.10);
  cursor: pointer;
  padding: 16px;
}

.accordion-content {
  font-weight: 400;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: leaderboard-variables.$mina-base-primary;
}

.download-btns {
  color: leaderboard-variables.$mina-base-primary;
  margin-bottom: 80px;

  button {
    border-radius: 999px;
    font-size: 20px;
    gap: 8px;
    padding: 0 16px;
    font-weight: 300;
    transition: all 0.15s ease;

    &:hover {
      box-shadow: 0 2px 4px 0 leaderboard-variables.$black3;
    }

    &:nth-child(1) {
      background-color: leaderboard-variables.$mina-brand-aqua;
    }

    &:nth-child(2) {
      background-color: leaderboard-variables.$mina-brand-lilac;
    }

    &:nth-child(3) {
      background-color: leaderboard-variables.$mina-brand-peony;
    }
  }
}
