name: Bench Ubuntu 24.04

on:
  push:
    branches: [main, develop]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  bench:
    uses: ./.github/workflows/bench-reusable.yaml
    with:
      os: ubuntu-24.04
      cache-prefix: ubuntu-24-04-
