name: Build Ubuntu 22.04

on:
  push:
    branches: [main, develop]
  pull_request:
    paths-ignore: ["frontend"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yaml
    with:
      os: ubuntu-22.04
      cache-prefix: ubuntu-22-04-
      build-wasm: true