name: Build Ubuntu 24.04 ARM

on:
  push:
    branches: [main, develop]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build-reusable.yaml
    with:
      os: ubuntu-24.04-arm
      cache-prefix: ubuntu-24-04-arm-
      build-wasm: true
