name: Openmina CI
on:
  push:
    branches: [ main, develop ]
  pull_request:
    paths-ignore: [ "frontend" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  OPENMINA_PANIC_ON_BUG: true

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ledger-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          cache-prefix: ledger-v0

      - name: Download circuits files
        uses: ./.github/actions/setup-circuits

      - name: Build ledger tests
        run: make build-ledger

      - name: Run ledger tests
        run: make test-ledger

  ledger-32x9-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          cache-prefix: ledger-32x9-v0

      - name: Download circuits files
        uses: ./.github/actions/setup-circuits

      - name: Enable 32x9 fields implementation
        run: |
          cargo install sd
          sd '^mina-curves.*$' '' ./Cargo.toml
          sd '^ark-ff = \{ version .*$' '' ./Cargo.toml
          sd -F '# UNCOMMENTED_IN_CI ' '' ./Cargo.toml
          cat ./Cargo.toml

      - name: Build ledger tests
        run: make build-ledger

      - name: Run ledger tests
        run: make test-ledger

  vrf-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          cache-prefix: vrf-v0

      - name: Build vrf tests
        run: make build-vrf

      - name: Run vrf tests
        run: make test-vrf

  p2p-tests:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: 1.84
          cache-prefix: p2p-v0

      - name: Test p2p crate
        run: make test-p2p

  build:
    # NOTE: If you add or remove platforms from this matrix, make sure to update
    # the documentation at website/docs/developers/getting-started.mdx
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: 1.84
          cache-prefix: build-${{ matrix.os }}-v0

      - name: Release build
        run: make build-release

      - name: Upload binaries
        if: matrix.os == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: bin-${{ github.sha }}
          path: target/release/openmina
          retention-days: 7

  build-wasm:
    # NOTE: If you add or remove platforms from this matrix, make sure to update
    # the documentation at website/docs/developers/getting-started.mdx
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup WebAssembly environment
        uses: ./.github/actions/setup-wasm
        with:
          cache-prefix: wasm-${{ matrix.os }}-v0

      - name: Release build
        run: make build-wasm

  build-tests:
    # NOTE: If you add or remove platforms from this matrix, make sure to update
    # the documentation at website/docs/developers/getting-started.mdx
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: 1.84
          cache-prefix: build-tests-${{ matrix.os }}-v0

      - name: Build tests
        run: |
          mkdir -p target/release/tests

          cargo build --release --tests --package=openmina-node-testing --package=cli
          cargo build --release --tests --package=openmina-node-testing --package=cli --message-format=json > cargo-build-test.json
          jq -r '. | select(.executable != null and (.target.kind | (contains(["test"])))) | [.target.name, .executable ] | @tsv' cargo-build-test.json > tests.tsv
          while read NAME FILE; do cp -a $FILE target/release/tests/$NAME; done < tests.tsv

      - name: Upload tests
        if: matrix.os == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: tests-${{ github.sha }}
          path: target/release/tests
          retention-days: 7

  build-tests-webrtc:
    # NOTE: If you add or remove platforms from this matrix, make sure to update
    # the documentation at website/docs/developers/getting-started.mdx
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-24.04-arm, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Setup build dependencies
        uses: ./.github/actions/setup-build-deps

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: 1.84
          cache-prefix: build-tests-webrtc-${{ matrix.os }}-v0

      - name: Build tests
        run: make build-tests-webrtc

      - name: Upload tests
        if: matrix.os == 'ubuntu-22.04'
        uses: actions/upload-artifact@v4
        with:
          name: tests-webrtc-${{ github.sha }}
          path: target/release/tests
          retention-days: 7

  p2p-scenario-tests:
    needs: [ build-tests, build-tests-webrtc ]
    runs-on: ubuntu-24.04
    container:
      image: gcr.io/o1labs-192920/mina-daemon:3.2.0-beta2-939b08d-bullseye-devnet
      options: --volume debugger_data:/tmp/db
    env:
      BPF_ALIAS: /coda/0.0.1/29936104443aaf264a7f0192ac64b1c7173198c1ed404c1bcff5e562e05eb7f6-0.0.0.0
    strategy:
      matrix:
        test: [p2p_basic_connections, p2p_basic_incoming, p2p_basic_outgoing, p2p_pubsub, p2p_kad,
               webrtc_p2p_basic_connections]
      fail-fast: false

    services:
      network-debugger:
        image: openmina/mina-network-debugger:23385c61
        options: --privileged --init --volume debugger_data:/tmp/db --volume /sys/kernel/debug:/sys/kernel/debug
        env:
          SERVER_PORT: 80
          FIREWALL_INTERFACE: lo
          RUST_LOG: info
          DB_PATH: /tmp/db
        ports:
          - 80:80

    steps:
      - name: Install libssl3 # Our binaries are built on a newer ubuntu and require libssl3
        run: |
           echo "deb http://deb.debian.org/debian bookworm main" > /etc/apt/sources.list.d/bookworm.list
           apt-get update && \
              apt-get install -y --no-install-recommends libssl3 && \
              apt-get clean && \
              rm -rf /var/lib/apt/lists/*

      - name: Download tests
        uses: actions/download-artifact@v4
        with:
          pattern: tests*-${{ github.sha }}
          merge-multiple: true

      - name: Setup permissions
        run: |
          chmod +x ./${{ matrix.test }}

      # TODO: use curl
      - name: Wait for the debugger
        run: |
          sleep 5

      - name: Run the test
        run: |
          ./${{ matrix.test }} --test-threads=1

      - name: Archive network debugger database
        uses: actions/upload-artifact@v4
        with:
          name: network-debugger-${{ matrix.test }}-${{ github.sha }}
          path: /tmp/db
          retention-days: 3
        if: ${{ always() }}

  scenario-tests:
    needs:
      - build-tests
      - build-tests-webrtc
    runs-on: ubuntu-24.04
    container:
      image: gcr.io/o1labs-192920/mina-daemon:3.2.0-beta2-939b08d-bullseye-devnet
      options: --volume debugger_data:/tmp/db
    env:
      # to allow local addrs discovery
      OPENMINA_DISCOVERY_FILTER_ADDR: false
      # to allow connection with replayer
      # TODO: remove when replayer supports identify
      KEEP_CONNECTION_WITH_UNKNOWN_STREAM: true
      REPLAYER_MULTIADDR: "/dns4/primary-tcp-proxy.hz.minaprotocol.network/tcp/40110/p2p/12D3KooWPayQEdprqY2m3biReUUybA5LoULpJE7YWu6wetEKKELv"
      BPF_ALIAS: /coda/0.0.1/29936104443aaf264a7f0192ac64b1c7173198c1ed404c1bcff5e562e05eb7f6-0.0.0.0
    strategy:
      matrix:
        test:
          - single_node
          - multi_node_initial_joining
          - multi_node_peer_discovery
          - multi_node_propagate_block
          - connection_discovery_ocaml_to_rust_via_seed
          - connection_discovery_ocaml_to_rust
          - connection_discovery_rust_as_seed
          - connection_discovery_rust_to_ocaml_via_seed
          - connection_discovery_rust_to_ocaml
          - webrtc_p2p_signaling
          # - webrtc_single_node
          # - webrtc_multi_node
      fail-fast: false

    services:
      network-debugger:
        image: openmina/mina-network-debugger:23385c61
        options: --privileged --init --volume debugger_data:/tmp/db --volume /sys/kernel/debug:/sys/kernel/debug
        env:
          SERVER_PORT: 80
          FIREWALL_INTERFACE: lo
          RUST_LOG: info
          DB_PATH: /tmp/db
        ports:
          - 80:80

    steps:
      - name: Install libssl3 # Our binaries are built on a newer ubuntu and require libssl3
        run: |
           echo "deb http://deb.debian.org/debian bookworm main" > /etc/apt/sources.list.d/bookworm.list
           apt-get update && \
              apt-get install -y --no-install-recommends libssl3 && \
              apt-get clean && \
              rm -rf /var/lib/apt/lists/*

      - name: Download tests
        uses: actions/download-artifact@v4
        with:
          pattern: tests*-${{ github.sha }}
          merge-multiple: true

      - name: Download tests
        uses: actions/download-artifact@v4
        with:
          pattern: tests-webrtc*-${{ github.sha }}
          merge-multiple: true

      - name: Setup permissions
        run: |
          chmod +x ./${{ matrix.test }}

      # TODO: use curl
      - name: Wait for the debugger
        run: |
          sleep 5

      - name: Run the test
        run: |
          ./${{ matrix.test }} --test-threads=1

      - name: Archive network debugger database
        uses: actions/upload-artifact@v4
        with:
          name: network-debugger-${{ matrix.test }}-${{ github.sha }}
          path: /tmp/db
          retention-days: 3
        if: ${{ always() }}

  record-replay-tests:
    needs:
      - build-tests
      - build-tests-webrtc
    runs-on: ubuntu-24.04
    container:
      image: gcr.io/o1labs-192920/mina-daemon:3.2.0-beta2-939b08d-bullseye-devnet
    env:
      # to allow local addrs discovery
      OPENMINA_DISCOVERY_FILTER_ADDR: false
    strategy:
      matrix:
        test: [record_replay, webrtc_record_replay]
      fail-fast: false

    steps:
      - name: Install libssl3 # Our binaries are built on a newer ubuntu and require libssl3
        run: |
           echo "deb http://deb.debian.org/debian bookworm main" > /etc/apt/sources.list.d/bookworm.list
           apt-get update && \
              apt-get install -y --no-install-recommends libssl3 && \
              apt-get clean && \
              rm -rf /var/lib/apt/lists/*

      - name: Download tests
        uses: actions/download-artifact@v4
        with:
          pattern: tests*-${{ github.sha }}
          merge-multiple: true

      - name: Setup permissions
        run: |
          chmod +x ./${{ matrix.test }}

      - name: Run the test
        run: |
          ./${{ matrix.test }} --test-threads=1

  bootstrap-test:
    needs: [ build, build-tests ]
    runs-on: ubuntu-24.04
    env:
      OPENMINA_HOME: data
      BPF_ALIAS: /coda/0.0.1/29936104443aaf264a7f0192ac64b1c7173198c1ed404c1bcff5e562e05eb7f6-0.0.0.0

    services:
      network-debugger:
        image: openmina/mina-network-debugger:23385c61
        options: --privileged --init --volume /tmp/db:/tmp/db --volume /sys/kernel/debug:/sys/kernel/debug
        env:
          SERVER_PORT: 80
          FIREWALL_INTERFACE: lo
          RUST_LOG: info
          DB_PATH: /tmp/db
        ports:
          - 80:80

    steps:
      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          name: bin-${{ github.sha }}

      - name: Download test
        uses: actions/download-artifact@v4
        with:
          pattern: tests*-${{ github.sha }}
          merge-multiple: true

      - name: Fix permissions
        run: |
          chmod +x bootstrap openmina

      # TODO: use curl
      - name: Wait for the debugger
        run: |
          sleep 5

      - name: Bootstrap node
        env:
          OPENMINA_COMMAND: openmina
          NO_PEER_DISCOVERY: "true"
          OUT_PATH: ${{ env.OPENMINA_HOME }}/logs/bootstrap_output
          RECORD: state-with-input-actions
        run: |
          mkdir -p $OUT_PATH
          PATH=$PATH:$(pwd) OPENMINA_COMMAND=openmina NO_PEER_DISCOVERY=true ./bootstrap --nocapture || {
            echo "::group::Stderr"
            cat $OUT_PATH.stderr
            echo "::endgroup::"
            exit 1
          }

      - name: Upload logs
        uses: actions/upload-artifact@v4
        with:
          name: bootstrap-logs-${{ github.sha }}
          path: ${{ env.OPENMINA_HOME }}/logs/*
          retention-days: 7
        if: ${{ failure() }}

      - name: Upload record
        uses: actions/upload-artifact@v4
        with:
          name: bootstrap-record-${{ github.sha }}
          path: ${{ env.OPENMINA_HOME }}/recorder/*
          retention-days: 7
        if: ${{ failure() }}

      - name: Archive network debugger database
        uses: actions/upload-artifact@v4
        with:
          name: network-debugger-test-bootstrap-${{ github.sha }}
          path: /tmp/db
          retention-days: 3
        if: ${{ always() }}
