name: Format

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  format:
    name: Format using nightly
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          toolchain: nightly
          components: rustfmt
          cache-prefix: format-nightly-v0
      - uses: taiki-e/install-action@v2
        with:
          tool: taplo
      - name: rustfmt
        run: make check-format
