name: Frontend CI
on:
  push:
    branches: [ main, develop ]
  pull_request:
    paths: [ "frontend/**", ".github/frontend.yaml" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  frontend:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: Frontend build and test
        uses: ./.github/actions/frontend-build
        with:
          run-prettier-check: 'true'
          run-tests: 'true'
