name: Frontend CI
on:
  push:
    branches: [ main, develop ]
  pull_request:
    paths: [ "frontend/**", ".github/frontend.yaml" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  frontend-prettier-check:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            frontend

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23'

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Check code formatting with Prettier
        run: make check-prettify
        working-directory: frontend

  frontend-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            frontend

      - name: Run tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: frontend
          start: npm start
          wait-on: http://localhost:4200
          wait-on-timeout: 180s
