name: Lint

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup build dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.84
          components: clippy, rustfmt
      - name: check
        run: make check
      - name: clippy
        run: make lint
