name: lint

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup build dependencies
        run: |
          sudo apt update
          sudo apt install -y protobuf-compiler
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.84
          components: rustfmt, clippy
      - name: rustfmt
        run: cargo fmt --all -- --check
      - name: check
        run: cargo check --all-targets
        env:
          RUSTFLAGS: -D warnings
      - name: clippy
        run: cargo clippy --all-targets -- -D warnings --allow clippy::mutable_key_type
