@media (max-width: 767px) {
  :host ::ng-deep mina-horizontal-resizable-container aside {
    right: unset !important;
    transition: left 0.4s cubic-bezier(0.22, 1, 0.36, 1) !important;

    &.in-view {
      left: 0;
    }

    &:not(.in-view) {
      left: -100%;
    }
  }
}

.mina-icon {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' -25,
    'opsz' 24 !important;
}
